# ===========================
# Compiled / Build Output
# ===========================
*.class
target/

# ===========================
# IntelliJ IDEA
# ===========================
.idea/
*.iml
*.iws
*.ipr

# ===========================
# Maven
# ===========================
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# ===========================
# Spring Boot
# ===========================
*.jar
*.war
*.ear
application-local.properties
application-local.yml

# ===========================
# Logs
# ===========================
*.log
logs/

# ===========================
# OS
# ===========================
.DS_Store
Thumbs.db

# ===========================
# Outros
# ===========================
*.zip
*.tar.gz
hs_err_pid*
replay_pid*